/* general */
html{
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	box-sizing: border-box;
}
*,*::before, *::after{ /*no considera el tam del padding*/
	box-sizing: inherit;
}
.contenedor{
	max-width: 120.3rem;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
h1{
	font-size: 3.8rem;
}
h2{
	font-size: 3.4rem;
}
h3{
	font-size: 3rem;
}
h4{
	font-size: 2.6rem;
}
p{
	font-size: 1.6rem;
}
a{
	font-size: 1.6rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}
/* utilidades */
.boton:hover{
	color: #FF1C1C;
	border: solid .1rem #FF1C1C;
}
.boton{
	background-color: white;
	font-weight: bold;
	padding: 0.8rem 3rem;
	border: none;
	font-size: 1.8rem;
	border-radius: 1rem;
	color: #5b5b5b;
}
.centrar {
	text-align: center;
}
.wu {
	text-transform: uppercase;
}
/* encabezado */
.head-s{
	display: flex;
	height: 10.7rem;
	justify-content: space-between;
	align-items: center;
}
.options a{
	font-size: 1.5rem;
	padding: 0 2.9rem 0 0;
}
.options a:hover{
	color: red;
}
.a-body{
	height: 56rem;
	background: url(../img/c2-img.jpg)
}
.a-body-text{
	padding: 18.1rem 0;
	text-align: center;
	height: 100vh;
	width: 47.6rem;
	color:#fff;
}
.a-body-text a{
	color:#FF2424;
}
.a-body-text button {
	padding: 1rem;
}
/* servicios */
.site-servicios{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1%
}

.b-titulo h1, .b-titulo h3{
	margin: 0;
}
.b-titulo{
	margin: 1rem 0;
}
.servicio span{
		font-size: 2.2rem;
		text-transform: uppercase;
}
.s-text {
	display: flex;
	justify-content: center;
}
.clientes {
	margin: 5rem;
}
.site-clientes{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.sc-img {
	display: flex;
	justify-content: center;
}

/* parte del footer */
.foot-p{
	background-color: #FF1C1C;
	color: #fff;
	margin-top: 2rem;
}

.foot-cont{
	display: flex;
	justify-content: space-between;
	padding: 1%;
}
.contacto {
	display: flex;
	align-items: baseline;
}
.img-i{
	height: 40px;
	width: 40px;
}
.c-text {
	margin-left: 2rem;
}
.c-text h4,.c-text span{
	text-transform: uppercase;
}
.c-text h4{
	margin: 0;
	padding: 0;
	font-size: 2rem;
}
.c-text p{
	margin: 1rem 0 0 0;
}
.p-contact{
	margin-top: 2rem;
	margin-bottom: 6px;
	display: flex;
}
.redes-sociales {
	width: 20%;
}
.img-rs{
	margin-top:4%;
	display: flex;
	justify-content: space-between;
}

/* parte header 2 */
.header2 {
	position: relative;
	display: flex;
	background-image: url(../img/header2.png);
	height: 15.3rem;
}
.relati {
	position: absolute;
}
.relati.h-img1{
	top: 40px;
}
.h-text {
	max-width: 120.3rem;
	display: flex;
	align-items: center;
}
.h-text h1{
	margin-right:0;
	margin: 0 10%;
}

/* contactenos */

.contactenos {
	background-image: url(../img/contactenos.jpg);
	height: 567px;
	margin-top: 3rem;
	color: #fff;
	display: flex;
	align-items: center;
}
.contactenos1 {
	display: grid;
	grid-template-columns: 400px 600px;
	column-gap: 150px;
}
.contactenos1.contactenos-redes.p-contact {
	margin-top: 4rem;
}
.contactenos-redes {
	padding-left: 65px;
}
.contactenos-redes h1{
	font-size: 1.8rem;
}

.formulario {
	background-color: rgba(212, 212, 212,0.5);
	display: flex;
	justify-content: center;
	height: 90%;
}
.formulario form {
	flex-basis: 90%;
	margin: 3rem 0 3rem 0;
}
input, textarea {
	outline: none;
}
.formulario input:focus{
	border:solid .1rem #5b5b5b;
}
.input-f {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	width: 100%;
	padding: 1rem  2rem;
	display: block;
	color: rgba(#5b5b5b, 0.4);
	border: none;
	border-radius: 0.5rem;
}
.input-f:focus{
	border: none;
}
.formulario textarea {
	height: 11rem;
	margin-bottom: 2rem;
}
.s-mapa{
	margin: 3rem 0;
}
